node_modules
npm-debug.log
Dockerfile
.dockerignore
.git
.gitignore
.env
.dist
dist
build
logs
*.log
yarn-debug.log*
yarn-error.log*
test/
__mocks__/
.DS_Store
Thumbs.db
.code-workspace
.vscode
.idea
*.iml
coverage
