dist/
node_modules/
coverage/
*.env
.env.*
.DS_Store
*.code-workspace
.idea/
output/
*.iml
.nyc_output/
.vscode/
.vscode-server/
yarn-error.log
apps/**/translations/**/*
!apps/**/translations/src/
!apps/**/translations/src/**/*
test/_accessibility/tmp/*
/public/env.json
