button.message-button {
  background-color: #1d70b8;
}

button.message-button:hover {
  background-color: #5694ca;
}

.govuk-button-group.select-question {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 20px;
  margin-bottom: 0;
  gap: 15px;
  width: 100%;
  height: auto;
  justify-content: flex-start;
}

.govuk-button-group.select-question .message-button {
  width: auto;
  flex: 0 0 auto;
  margin-right: 0;
  margin-bottom: 0;
}
